/* body {
  padding: 1em;
} */

.card {
  flex-direction: row;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 18);
}
.card img {
  max-width: 5%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.text-section {
  max-width: 60%;
  display: inline-flex;
  flex-direction: column;
}

@media screen and (max-width: 475px) {
  .card {
    font-size: 0.9em;
  }
}

li {
  list-style: none;
}
